@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@theme {
  --font-impact: "Impact", sans-serif, "Arial";
  --font-serif: Arial, Helvetica, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary:oklch(68.38% 0.1273 20.93);
}

body {
  max-width: 960px;
  margin: 20px auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.1;
}

.team-section {
  background: white;
}
